.m-messenger__message-pic {
  display: table-cell;
  vertical-align: top;
  width: 40px;
  padding: 6px 10px 0 0; 
}
.m-messenger__message-pic img {
  max-width: 40px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin: 0 !important; 
}


.comment__seperator {
  border-bottom: 2px solid #f4f5f8;
}

.m-widget3__item .m-widget3__body .m-widget3__text {
  color: #898b96;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 35px;
}


.m-portlet__head-tools .nav .nav-item{
  color: #898b96;
  cursor: pointer;
}

.m-portlet__head-tools .nav .nav-item:hover{
  color:#716ACA;
}
