<app-navbar></app-navbar>
<div class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-scroll-top--shown">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body ">
      <div class="m-grid__item m-grid__item--fluid m-wrapper m--padding-40">

          <div class="row">
            <div *ngIf="articleData.type==1 then article else quotation"></div>
            <ng-template #article>
                <div class="col-xl-8 col-lg-7">
                    <div class="m-portlet m-portlet--bordered-semi">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
                                            <a href="#" class="m-portlet__nav-link btn btn-secondary  m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill   m-dropdown__toggle">
                                            <i class="la la-ellipsis-v"></i>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                        <ul class="m-nav">
                                                            <li *ngIf="articleData?.genjouristId === user?.genjouristId" class="m-nav__item">
                                                                <div style="cursor: pointer;"  (click)="fun()" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-edit-1"></i>
                                                                <span class="m-nav__link-text">
                                                                    Edit
                                                                </span>
                                                                </div>
                                                            </li>
                                                            <li *ngIf="articleData?.genjouristId === user?.genjouristId" class="m-nav__item">
                                                                <div style="cursor: pointer;" (click)="fun()" class="m-nav__link">
                                                                <i class="m-nav__link-icon fa fa-trash"></i>
                                                                <span class="m-nav__link-text">
                                                                    Delete
                                                                </span>
                                                                </div>
                                                            </li>
                                                            <li *ngIf="articleData?.genjouristId != user?.genjouristId" class="m-nav__item">
                                                                <div style="cursor: pointer;"  (click)="fun()" class="m-nav__link">
                                                                    <i class="m-nav__link-icon flaticon-edit-1"></i>
                                                                    <span class="m-nav__link-text">
                                                                    Report
                                                                    </span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                      <div class="m-portlet__body">
                          <div class="m--margin-10 m--margin-padding-25 text-center">
                              <img class="img-fluid" [src]="articleData?.imgUrl" alt="Image">
                          </div>
                      </div>
                    </div>
      
                        <div class="m-portlet m-portlet--bordered-semi">
                          <div class="m-portlet__body">
                            <div class="m-widget19">    
                                  <div class="d-flex align-items-center">
                                    <div class="mr-auto">
                                      <h3 class="m-subheader__title ">
                                          {{articleData?.title}}
                                      </h3>
                                    </div>
                                    <div>
                                      <button [routerLink]="['/category',articleData?.category]" type="button" class="btn btn-sm m-btn--pill btn-brand m--margin-bottom-10">
                                        {{articleData?.category}}
                                      </button>
                                    </div>
                                  </div>
                                  <span class="btn m-btn--pill btn-secondary btn-sm m--margin-left-10" *ngFor="let tag of articleData.tags">
                                    {{tag}}
                                  </span>
                                  <div class="m-widget19__content">
                                      <div class="m-widget19__header">
                                          <div style="cursor: pointer;" class="m-widget19__user-img" [routerLink]="['/genjourist',articleData?.genjouristId]">
                                            <img class="m-widget19__img" [src]="articleData?.profileImg" alt="">
                                          </div>
                                          <div class="m-widget19__info">
                                            <span style="cursor: pointer;" class="m-widget19__username" [routerLink]="['/genjourist',articleData?.genjouristId]">
                                                {{articleData?.name}}
                                            </span>
                                            <br>
                                            <span class="m-widget19__time m-badge m-badge--danger m-badge--wide" style="color:white;">
                                                14-30
                                            </span>
                                          </div>
                                          <div class="m-widget19__stats">
                                              <app-support-journal [journalId]="articleData.journalId"  [userId]="user?.genjouristId"></app-support-journal>
                                          </div>
                                          <div class="m-widget19__stats">
                                              <app-replicate></app-replicate>
                                          </div>
                                          <div class="m-widget19__stats">
                                              <app-pov></app-pov>
                                          </div>
                                          <div class="m-widget19__stats">
                                              <app-bookmark></app-bookmark>
                                          </div>
                                        </div>
                                    <div class="lead">
                                          <div [innerHtml]="articleData.content"></div>
                                         <!-- {{articleData?.content}} -->
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>     
                        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                          <div class="m-portel__body">
                              <div class="m-widget19">
                                  <app-comment></app-comment>
                              </div>
                          </div>
                          
                        </div>      
                </div>
            </ng-template>
            <ng-template #quotation>
              <div class="col-xl-8 col-lg-7">
                  <div class="m-portlet m-portlet--bordered-semi">
                      <div class="m-portlet__head">
                          <div class="m-portlet__head-tools">
                                  <ul class="m-portlet__nav">
                                      <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
                                          <a href="#" class="m-portlet__nav-link btn btn-secondary  m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill   m-dropdown__toggle">
                                          <i class="la la-ellipsis-v"></i>
                                          </a>
                                          <div class="m-dropdown__wrapper">
                                          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
                                          <div class="m-dropdown__inner">
                                              <div class="m-dropdown__body">
                                              <div class="m-dropdown__content">
                                                      <ul class="m-nav">
                                                          <li *ngIf="articleData?.genjouristId == user?.genjouristId" class="m-nav__item">
                                                              <div style="cursor: pointer;"  (click)="fun()" class="m-nav__link">
                                                              <i class="m-nav__link-icon flaticon-edit-1"></i>
                                                              <span class="m-nav__link-text">
                                                                  Edit
                                                              </span>
                                                              </div>
                                                          </li>
                                                          <li *ngIf="articleData?.genjouristId == user?.genjouristId" class="m-nav__item">
                                                              <div style="cursor: pointer;" (click)="fun()" class="m-nav__link">
                                                              <i class="m-nav__link-icon fa fa-trash"></i>
                                                              <span class="m-nav__link-text">
                                                                  Delete
                                                              </span>
                                                              </div>
                                                          </li>
                                                          <li *ngIf="articleData?.genjouristId != user?.genjouristId" class="m-nav__item">
                                                              <div style="cursor: pointer;"  (click)="fun()" class="m-nav__link">
                                                                  <i class="m-nav__link-icon flaticon-edit-1"></i>
                                                                  <span class="m-nav__link-text">
                                                                  Report
                                                                  </span>
                                                              </div>
                                                          </li>
                                                      </ul>
                                              </div>
                                              </div>
                                          </div>
                                          </div>
                                      </li>
                                  </ul>
                          </div>
                      </div>
                      <div class="m-portlet__body">
                          <!--begin::Widget 7-->
                          <div class="m-widget7 m-widget7--skin-dark">
                          <div class="m-widget7__desc">
                                  <blockquote style="cursor: pointer;" class="blockquote">{{articleData.content}} </blockquote>
                          </div>
                          <div class="m-widget7__user">
                          </div>
                          </div>
                          <!--end::Widget 7-->
                      </div>  
                  </div>
                  <div class="m-portlet m-portlet--bordered-semi">
                    <div class="m-portlet__body">
                      <div class="m-widget19">    
                            <div class="d-flex align-items-center">
                              <div class="mr-auto">
                                <span class="btn m-btn--pill btn-secondary btn-sm m--margin-left-10" *ngFor="let tag of articleData.tags">
                                    {{tag}}
                                </span>
                              </div>
                              <div>
                                <button [routerLink]="['/category',articleData?.category]" type="button" class="btn btn-sm m-btn--pill btn-brand m--margin-bottom-10">
                                  {{articleData?.category}}
                                </button>
                              </div>
                            </div>
                            <div class="m-widget19__content">
                                <div class="m-widget19__header">
                                    <div style="cursor: pointer;" class="m-widget19__user-img" [routerLink]="['/genjourist',articleData?.genjouristId]">
                                      <img class="m-widget19__img" [src]="articleData?.profileImg" alt="">
                                    </div>
                                    <div class="m-widget19__info">
                                      <span style="cursor: pointer;" class="m-widget19__username" [routerLink]="['/genjourist',articleData?.genjouristId]">
                                          {{articleData?.name}}
                                      </span>
                                      <br>
                                      <span class="m-widget19__time m-badge m-badge--danger m-badge--wide" style="color:white;">
                                          14-30
                                      </span>
                                    </div>
                                    <div class="m-widget19__stats">
                                        <app-support-journal [journalId]="articleData.journalId"  [userId]="user?.genjouristId"></app-support-journal>
                                    </div>
                                    <div class="m-widget19__stats">
                                        <app-replicate></app-replicate>
                                    </div>
                                    <div class="m-widget19__stats">
                                        <app-pov></app-pov>
                                    </div>
                                    <div class="m-widget19__stats">
                                        <app-bookmark></app-bookmark>
                                    </div>
                                  </div>
                            </div>
                      </div>
                    </div>
                  </div> 
                  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                    <div class="m-portel__body">
                        <div class="m-widget19">
                            <app-comment></app-comment>
                        </div>
                    </div> 
                  </div>  
              </div>
            </ng-template>
            <div class="col-xl-4 col-lg-5">
              <div class="m-portlet m-portlet--rounded" *ngFor="let suggestedJournal of suggestedJournals">
                      <div class="m-portlet__body">
                          <div class="m-widget5">
                              <div class="m-widget5__item">
                                  <div class="m-widget5__pic">
                                    <img class="m-widget7__img" [routerLink]="['/journal',suggestedJournal?.journalId]" [src]="suggestedJournal.imgUrl" alt="">
                                  </div>
                                  <div class="m-widget5__content">
                                      <span class="m-nav__link-badge" style="cursor: pointer;" [routerLink]="['/category',suggestedJournal?.category]">
                                        <span class="m-badge m-badge--brand m-badge--wide">
                                            {{suggestedJournal.category}}
                                        </span>
                                    </span>
                                    <p style="cursor:pointer;" [routerLink]="['/journal',suggestedJournal?.journalId]" class="lead">
                                        {{suggestedJournal.title}}
                                    </p>
                                  </div>
                                </div>
                          </div>
                      </div>
              </div>
            </div>
          </div>

          </div>
      </div>
</div>
