<app-navbar></app-navbar>
<div class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-scroll-top--shown">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body ">
      <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="row">
              <div class="col-md-9 col-xs-12 m-subheader m--padding-top-50 m--padding-left-50">
                  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                      <div class="m-portlet__head m-portlet__head--fit">
                        <div class="m-portlet__head-caption">
                          <div class="m-portlet__head-action">
                            <button [routerLink]="['/category',articleData?.category]" type="button" class="btn btn-sm m-btn--pill  btn-brand">
                              {{articleData?.category}}
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="m-portlet__body">
                        <div class="m-widget19">    
                              <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height: 286px">
                                <img src="{{articleData?.imgUrl}}" alt="">
                                <h3 class="m-widget19__title m--font-light">
                                  {{articleData?.title}}
                                </h3>
                                <div class="m-widget19__shadow"></div>
                              </div>
      
                              <div class="m-widget19__content">
                                <div class="m-widget19__header">
                                  <div class="m-widget19__user-img">
                                    <a [routerLink]="['/genjourist',articleData?.genjouristId]"><img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt=""></a>
                                  </div>
                                  <div class="m-widget19__info">
                                    <span class="m-widget19__username">
                                       <a [routerLink]="['/genjourist',articleData?.genjouristId]">{{articleData?.genjourist}}</a>
                                    </span>
                                    <br>
                                    <span class="m-badge m-badge--danger m-badge--wide">
                                        14-30
                                    </span>
                                  </div>

                                </div>
                                  <div class="row">
                                      <!-- <app-support-article [articleId]="articleData?.articleId" [userId]="articleData?.genjouristId" ></app-support-article>   -->
                                  </div>
                                <div class="">
                                  
                                      <div [innerHtml]="articleData.content"></div>
                                     <!-- {{articleData?.content}} -->
                                  
                                </div>
                                <div class="row">
                                  <app-comment></app-comment>
                                </div>
                              </div>
                        </div>
                      </div>
                    </div>           
              </div>
              <div class="col-md-3 m--padding-10">
                <app-sidenav></app-sidenav>
              </div>
        </div>


      </div>
    </div>
</div>