<div class="m-stack m-stack--ver m-stack--general m--margin-right-20">
  <div class="m-stack__item m-stack__item--center m-stack__item--middle" style="width: 30px;">
    <span class="m-widget19__comment">
      <span>
        <i style="font-size: 1.5rem" class="m-menu__link-icon fa fa-eye"> </i>
      </span>
    </span>
  </div>
  <div class="m-stack__item m-stack__item--center m-stack__item--middle" style="width: 30px;">
    <span class="m-widget19__comment">
      <span class="m-widget19__number" style="margin-bottom:0rem" >78K</span>
    </span>
  </div>
</div>
