<div class="container">

<div class="m--margin-top-10"></div>

<div class="row">
	<div class="col-md-auto">
		<div class="m-messenger__message-pic">
			<img height="50px" [src]="user?.profileImg" alt="" class="mCS_img_loaded">
		</div>
	</div>
	<div class="col-md-10">
		<form #commentBoxInput="ngForm" >
			<div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">	
				<div class="m-messenger__form">
					<div class="m-messenger__form-controls">
						<input autocomplete="off" type="text" name="commentInput" [(ngModel)]="commentInput"  placeholder="Your point of view.." class="m-messenger__form-input">
					</div>
					<div  class="m-messenger__form-tools">
						<label hidden class="m-messenger__form-attachment" for="commentButton"><i class="la la-comment"></i></label>
						<input hidden type="submit" id="commentButton" (click)="submitComment()">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="m--margin-bottom-30"></div>
</div>