  <div class="mom_story_wrapper">
	
      <div class="container">
          <div class="momstory_heading">
          <span><i class="fa fa-exclamation"></i></span>
              <h1>Thats 404!</h1>
          </div>
      </div>
    
    <div class="container">
        <div class="mom_story_main row cf">
          <div class="mom_story_left cf">
              <h4>Possible Reason</h4>
              <p>You Seem To Be A Bit Lost. Use Link Given Below To Naviagte To The Home Page 
              Please Follow this link to home page.</p>
              <button routerLink= '' style="background-color:#f50057;border:0px"  class="btn btn-primary">Home</button>
          </div>
          <div class="mom_story_right cf">
          </div>
          
      </div>
      </div>
    
    </div>
    