
<div  *ngIf="user" class="profileContainer">
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader">

    </div>
    <!-- END: Subheader -->
    <div class="m-content m--margin-top-15 m--margin-25">
      <div class="row">
        <div class="col-xl-3 col-lg-4">
          <div class="m-portlet m-portlet--full-height  ">
            <div class="m-portlet__body">
              <div class="m-card-profile">
                <div class="m-card-profile__title m--hide">
                  Profile
                </div>
                <div *ngIf="editMode" class="edit_profile_pic">
                  <i class="m-nav__link-icon fa fa-pencil m--pull-right"></i>
                </div>
                <div class="m-card-profile__pic">
                  <div class="m-card-profile__pic-wrapper">
                    <!-- <img style="border:3px soild grey" src="{{user.profileImg}}" alt="Genjourist profile pic"> -->
                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow" data-dropdown-toggle="click" aria-expanded="true">
                      <img style="cursor: pointer; " class="m-dropdown__toggle dropdown-toggle" src="{{user.profileImg}}" alt="Genjourist profile pic">
                    
                      <div class="m-dropdown__wrapper">
                      <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
                      <div class="m-dropdown__inner">
                          <div class="m-dropdown__body">
                          <div class="m-dropdown__content">
                              <ul class="m-nav">
                              <li style="cursor: pointer;" class="m-nav__item" (click)="removeProfilePic(user.genjouristId)" >
                                  <a class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-circle"></i>
                                  <span class="m-nav__link-text">
                                      Remove
                                  </span>
                                  </a>
                              </li>
                              <li style="cursor: pointer;" (click)="openModal()" class="m-nav__item">
                                <a class="m-nav__link">
                                <i class="m-nav__link-icon la	la-cloud-upload"></i>
                                <span class="m-nav__link-text">
                                    Upload
                                </span>
                                </a>
                            </li>
                              <li class="m-nav__separator m-nav__separator--fit"></li>
                              <li style="cursor: pointer;" class="m-nav__item">
                                  <a class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                  Cancel
                                  </a>
                              </li>
                              </ul>
                          </div>
                          </div>
                      </div>
                      </div>
                    </div>
                    <input *ngIf="profileImgStatus" type="file" hidden name="profileImg" id="profileImg">
                  </div>

                </div>
                <div class="m-card-profile__details">
                    <span *ngIf="!nameStatus" class="m-card-profile__name">
                      Genjourist {{user.name}}
                    </span>
                    <div *ngIf="nameStatus" class="form-group m-form__group">
                      <input type="text" [(ngModel)]="user.name" name="name" class="form-control m-input" placeholder="Enter full name">
                      <span class="m-form__help">
                        Please enter your full name
                      </span>
                    </div>
                </div>
                  <br>
                <div class="row">
                    <div class="col">
                        <div class="m-widget19__stats text-center">
                            <h3 class="m--font-brand">
                              {{supportersNumber}}
                            </h3>
                            <span class="m-widget19__comment">
                              Supporters
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="m-widget19__stats text-center">
                            <h3 class="m--font-brand">
                                {{supportingNumber}}
                              </h3>
                            <span class="m-widget19__comment">
                              Supporting
                            </span>
                        </div>
                    </div>    
                                     
                </div>
              </div>
              <div class="m-separator"></div>
              <span *ngIf="!profileEditStatus" (click)="onSelectEditButton()" style="color:white" class="btn m-btn--square  btn-brand btn-block">
                  Edit your profile
              </span>
              <span *ngIf="profileEditStatus" (click)="onSaveProfile()" style="color:white" class="btn m-btn--square  btn-brand btn-block">
                  Save
              </span>
              <div class="m-separator"></div>
              <span *ngIf="!bioStatus" class="m-widget1__desc">{{user.bio}}</span>
              <textarea style="border:1px red solid;" *ngIf="bioStatus" [(ngModel)]="user.bio" class="form-control m-input m-input--air" name="bio" rows="6" placeholder="Add bio" ></textarea>
              <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                <li class="m-nav__separator m-nav__separator--fit"></li>
                <li class="m-nav__section m--hide">
                  <span class="m-nav__section-text">
                    Section
                  </span>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-calendar-2"></i>
                    <span class="m-nav__link-title">
                      <span class="m-nav__link-wrap">
                        <span class="m-nav__link-text">
                          Age
                        </span>
                        <span class="m-nav__link-badge">
                          <span class="m-badge m-badge--success m-badge--wide">
                            {{user.dob | ageCategory }}
                          </span>
                        </span>
                      </span>
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a  class="m-nav__link">
                    <i *ngIf="!genderStatus" class="m-nav__link-icon flaticon-user"></i>
                    <span *ngIf="!genderStatus" class="m-nav__link-title">
                      <span class="m-nav__link-wrap">
                        <span class="m-nav__link-text">
                          Gender
                        </span>
                        <span class="m-nav__link-badge">
                          <span class="m-badge m-badge--info m-badge--wide">
                            {{user.gender}}
                          </span>
                        </span>
                      </span>
                    </span>
                    <select *ngIf="genderStatus" [(ngModel)]="user.gender" name="gender" class="form-control m-input m-input--solid" id="exampleSelect1">
                      <option>Male</option>
                      <option>Female</option>
                      <option>Others</option>
                    </select>
                  </a>

                </li>
                <li *ngIf="user.emailStatus" class="m-nav__item">
                  <a class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                    <span class="m-nav_link-wrap">
                        <span class="m-nav__link-text">
                            Email
                          </span>
                          <span class="m--pull-right p-details">
                              {{user.email}}
                          </span>
                      </span>
                  </a>
                </li>
                <li *ngIf="user.mobileStatus" class="m-nav__item">
                  <a  class="m-nav__link">
                    <i class="m-nav__link-icon la la-phone"></i>
                    <span class="m-nav_link-wrap">
                      <span class="m-nav__link-text">
                          Phone Number
                        </span>
                        <span class="m--pull-right p-details">
                            {{user.mobileNumber}}
                            <div *ngIf="!user.mobileNumber"> <a [routerLink]="['/settings']"> <i class="m-nav__link-icon flaticon-settings"></i></a></div>
                        </span>
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a  class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-time-1"></i>
                    <span class="m-nav_link-wrap">
                      <span class="m-nav__link-text">
                          Since
                        </span>
                        <span class="m--pull-right p-details">
                            {{user.createdOn | date}}
                        </span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8">
          <div class="m-content">
            <div class="row">
              <div class="col-lg">
                  <div class="card-columns">
                      <div *ngFor="let journal of journals">
                          
                          <div *ngIf="journal.type == 1; then article else quotation" ></div>
          
                          <ng-template #article >
                              <div class="card">
                                  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                                      <div class="m-portlet__head m-portlet__head--fit">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-action">
                                            <a [routerLink]="['/category',journal?.category]">
                                            <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                                                {{journal?.category}}
                                            </button>
                                            </a>

                                            </div>
                                        </div>
                                        <div class="m-portlet__head-tools">
                                            <ul class="m-portlet__nav">
                                                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
                                                    <a href="#" class="m-portlet__nav-link btn btn-secondary  m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill   m-dropdown__toggle">
                                                      <i class="la la-ellipsis-v"></i>
                                                    </a>
                                                    <div class="m-dropdown__wrapper">
                                                      <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
                                                      <div class="m-dropdown__inner">
                                                        <div class="m-dropdown__body">
                                                          <div class="m-dropdown__content">
                                                            <ul class="m-nav">
                                                                <li class="m-nav__item">
                                                                  <div style="cursor: pointer;"  (click)="editComment(comment.commentId)" class="m-nav__link">
                                                                    <i class="m-nav__link-icon flaticon-edit-1"></i>
                                                                    <span class="m-nav__link-text">
                                                                      Edit
                                                                    </span>
                                                                  </div>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                  <div style="cursor: pointer;" (click)="deleteComment(comment.commentId)" class="m-nav__link">
                                                                    <i class="m-nav__link-icon fa fa-trash"></i>
                                                                    <span class="m-nav__link-text">
                                                                      Delete
                                                                    </span>
                                                                  </div>
                                                                </li>
                                                            </ul>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </li>
                                            </ul>
                                        </div>

                                      </div>
                                      <div class="m-portlet__body">
                                      <div class="m-widget19">
                                          <a [routerLink]="['/journal',journal?.journalId]">
                                              <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height:-286px;">
                                              <img src= "{{journal?.imgUrl}}" alt="">
                                              <h3 class="m-widget19__title m--font-light">
                                                  {{journal?.title}}
                                              </h3>
                                              <div class="m-widget19__shadow"></div>
                                              </div>
                                          </a>
                                              <div class="m-widget19__content">
                                              <div class="m-widget19__header">
                                                  <div class="m-widget19__user-img">
                                                  <a [routerLink]="['/genjourist',journal?.genjouristId]"><img class="m-widget19__img" src="{{journal.profileImg}}" alt=""></a>
                                                  </div>
                                                  <div class="m-widget19__info">
                                                  <span class="m-widget19__username">
                                                      <a [routerLink]="['/genjourist',journal?.genjouristId]">{{journal?.genjourist}}</a>
                                                  </span>
                                                  <br>
                                                  <span class="m-widget19__time">
                                                      {{journal?.date | date:'medium' }}
                                                  </span>
                                                  </div>
                                              </div>
                                              <a [routerLink]="['/journal',journal?.journalId]">
                                                  <div class="m-widget19__body m-nav__link-text">
                                                      <div [innerHTML]=" journal?.content | summary "></div>
                                                  </div>
                                              </a>
                                              </div>
                                          
                                          <div class="m-widget19__action">
                                              <div class="m--margin-top-5 m--margin-bottom-5 m--margin-right-15">
                                              <div>
                                                  <app-support-article [journalId]="journal.journalId" [userId]="user?.genjouristId">
                                                  
                                                  </app-support-article>   
                                              </div>
                                              </div>
                                          </div>
          
                                      </div>
                                      </div> 
                                  </div>
                              </div>
                              
                          </ng-template>
          
                          <ng-template #quotation >
                              <div class="card">
                                  <div class="m-portlet m-portlet--bordered-semi">
                                      <div class="m-portlet__head">
                                          <div class="m-portlet__head-caption">
                                          <div class="m-portlet__head-title">
                                              <h3 class="m-portlet__head-text">
                                                  <a [routerLink]="['/category',journal?.category]">
                                                  <button type="button" class="btn btn-sm m-btn--pill  btn-info">
                                                      {{journal?.category}}
                                                  </button>
                                                  </a>
                                              </h3>
                                          </div>
                                          </div>
                                          <div class="m-portlet__head-tools">
                                              <ul class="m-portlet__nav">
                                                  <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
                                                      <a href="#" class="m-portlet__nav-link btn btn-secondary  m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill   m-dropdown__toggle">
                                                        <i class="la la-ellipsis-v"></i>
                                                      </a>
                                                      <div class="m-dropdown__wrapper">
                                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
                                                        <div class="m-dropdown__inner">
                                                          <div class="m-dropdown__body">
                                                            <div class="m-dropdown__content">
                                                              <ul class="m-nav">
                                                                  <li class="m-nav__item">
                                                                    <div style="cursor: pointer;"  (click)="editComment(comment.commentId)" class="m-nav__link">
                                                                      <i class="m-nav__link-icon flaticon-edit-1"></i>
                                                                      <span class="m-nav__link-text">
                                                                        Edit
                                                                      </span>
                                                                    </div>
                                                                  </li>
                                                                  <li class="m-nav__item">
                                                                    <div style="cursor: pointer;" (click)="deleteComment(comment.commentId)" class="m-nav__link">
                                                                      <i class="m-nav__link-icon fa fa-trash"></i>
                                                                      <span class="m-nav__link-text">
                                                                        Delete
                                                                      </span>
                                                                    </div>
                                                                  </li>
                                                              </ul>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="m-portlet__body">
                                          <!--begin::Widget 7-->
                                          <div class="m-widget7 m-widget7--skin-dark">
                                          <div class="m-widget7__desc">
                                                  <blockquote class="blockquote">{{journal.content}} </blockquote>
                                          </div>
                                          <div class="m-widget7__user">
                                              <div class="m-widget7__user-img">
                                              <img class="m-widget7__img" src="{{journal.profileImg}}" alt="">
                                              </div>
                                              <div class="m-widget7__info">
                                              <a [routerLink]="['/genjourist',journal.genjouristId]" >
                                                  <span class="m-widget7__username">
                                                      {{journal.genjourist}}
                                                  </span>
                                              </a>
                                              <br>
                                              <span class="m-widget7__time">
                                                  {{journal?.date | date:'medium' }}
                                              </span>
                                              </div>
                                          </div>
                                          <div class="m-widget7__button">
                                              <app-support-article [journalId]="journal.journalId" [userId]="user?.genjouristId">
                                              
                                              </app-support-article>  
                                          </div>
                                          </div>
                                          <!--end::Widget 7-->
                                      </div>
                                      </div>
                              </div> 
                          </ng-template>
          
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf = "imgUploaderModal" class="modal fade show" id="m_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <input type="file" ng2FileSelect [uploader]="uploader" (change)="fileChangeEvent($event)" />

          <image-cropper
              style="max-height:300px"
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="1 / 1"
              [resizeToWidth]="128"
              format="png"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (loadImageFailed)="loadImageFailed()"
              
          ></image-cropper>
          <img [src]="croppedImage"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">
          Close
        </button>
        <button *ngIf="!imgSaving" type="button" (click)="upload()" class="btn btn-primary">
          Save changes
        </button>
        <button *ngIf="imgSaving"type="button" (click)="upload()" class="btn btn-primary m-loader m-loader--light m-loader--right">
          Saving
        </button>
      </div>
    </div>
  </div>
</div>