<app-navbar></app-navbar>


<div class="row">
  <div class="m--padding-left-25">
    <div class="col-md-7">
      <div class="m-portlet m-portlet--unair notification_panel">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Notifications
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab1_content" role="tab" aria-expanded="true">
                  You
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab2_content" role="tab" aria-expanded="false">
                  Supporting
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="m-portlet__body">
          <div class="m-widget3">
            <div class="m-widget3__item">
              <div class="m-widget3__header">
                <div class="m-widget3__user-img">
                  <img class="m-widget3__img" src="../../assets/app/media/img/users/user1.jpg" alt="">
                </div>
                <div class="m-widget3__info">
                  <span class="m-widget3__username">
                    Shrey start supporting you
                  </span>
                  <br>
                  <span class="m-widget3__time">
                    2 day ago
                  </span>
                </div>
                <span class="m-widget3__status m--font-metal">
                  <i class="flaticon-more"></i>
                </span>
              </div>
            </div>
            <div class="m-widget3__item">
              <div class="m-widget3__header">
                <div class="m-widget3__user-img">
                  <img class="m-widget3__img" src="../../assets/app/media/img/users/user4.jpg" alt="">
                </div>
                <div class="m-widget3__info">
                  <span class="m-widget3__username">
                    Anush supported your article
                  </span>
                  <br>
                  <span class="m-widget3__time">
                    1 day ago
                  </span>
                </div>
                <span class="m-widget3__status m--font-metal">
                  <i class="flaticon-more"></i>
                </span>
              </div>
            </div>
            <div class="m-widget3__item">
              <div class="m-widget3__header">
                <div class="m-widget3__user-img">
                  <img class="m-widget3__img" src="../../assets/app/media/img/users/user5.jpg" alt="">
                </div>
                <div class="m-widget3__info">
                  <span class="m-widget3__username">
                    Shrey supported your quotation
                  </span>
                  <br>
                  <span class="m-widget3__time">
                    3 weeks ago
                  </span>
                </div>
                <span class="m-widget3__status m--font-metal">
                  <i class="flaticon-more"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

